html, body {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background-color: #D2D5D6;
}

#fixed_top {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

#banner {
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    color: white;
    width: 100%;
    margin-left: 1em;
    margin-top: -1em;
    margin-bottom: -0.8em;
    text-align: center;
}

#index_header {
    text-decoration: underline;
    text-align: center;
    margin-top: -1em;
}
#index2_header {
    text-decoration: underline;
    text-align: center;
    margin-top: 0;
}

#navbar {
    width: 100%;
    color: blue;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    margin-top: -4em;
    padding: 0.75em;
    border-bottom: solid 3px black;
    border-left: solid 3px black;
    border-right: solid 3px black;
    height: 1em;
    text-align: left;
    max-width: 998px;
    margin: auto;
}

#navbar a {
    padding: 2em;
    color: blue;
    
}

#navbar a:link {
    color: blue;
}

#navbar a:hover {
    color: #29C3F2;
}

.spacer {
    height: 153px;
    width:100%;
}

#main_content {
    max-width: 960px;
    margin: auto;
    height: 600px;
    background: white;
    padding: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    border-left: solid 3px black;
    border-right: solid 3px black;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    
}

.leftcol {
    float: left;
    width: 48%;
    display: inline-block;
}


.rightcol {
    float: right;
    width: 48%;
    display: inline-block;
    text-align: center;
}
.img {
    height: 420px;
    width: 381px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#img {
    height: 370px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fig_caption {
    text-align: center;
    font-style: italic;
    
}

table td {
    text-align: center;
}
.table h2 {
    text-align: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 3em;
}

th {
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 2px black;
}

tr td {
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 2px black;
}